header, footer{
	background-color: #6f5499;
	color: #ffffff;
}

a{
	color: #6f5499;
	font-size: 20px;
}

ul{
	padding: 0px;
	margin: 0px;
}

h1{
	margin-bottom: 20px;
}

li{
	padding: 10px;
	border: 1px solid;
}

footer{
	padding: 20px;
}

.show-grid{
	margin-bottom: 15px;
}

blockquote > footer{
	background-color: transparent;
}

.frases, .people{
	padding: 20px 0px;
}

/* css para archivo de ejemplos.html */
.example-code div{
	height: 100px
}